* {
    box-sizing: border-box;
}

.form-inline {
    margin-left: 580px;
}
.navbar {
    background-color: white;
}

.contents {
    position: absolute; left:50%; top:50%; transform: translate(-50%,-50%);
}
.contents2 {
    position: absolute; left:50%; top:20%; transform: translate(-50%,-50%);
    text-align: center;
}
.evaluation-contents {
    position: absolute; left:50%; top:50%; transform: translate(-50%,-50%);
    text-align: center;
}

.contents > p {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    vertical-align: middle;
    margin-bottom: 50px;
}
.btn3 {
    width: 25%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.textbox {
    padding: .25rem 1rem;
    width: 500px;
    margin-right: 10px;
}

table {
    width: 1000px;
    border-left: none;
    border-right: none;
}

.info2 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.eval-question1 {
    font-weight: bold;
    font-size: 30px;
}

.eval-question1 > input {
    margin-bottom: 30px;
}

.star{
    display:inline-block;
    width: 30px;height: 60px;
    cursor: pointer;
  }
  .star_left{
    background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat 0 0; 
    background-size: 60px; 
    margin-right: -3px;
  }
  .star_right{
    background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat -30px 0; 
    background-size: 60px; 
    margin-left: -3px;
  }
  .star.on{
    background-image: url(http://gahyun.wooga.kr/main/img/testImg/star_on.png);
  }

  .star-box {
      margin-bottom: 50px;
  }

.button {
    float: right;
    width: 154px;
    height: 40px;
    border-radius: 4px;
    background-color: blue;
    cursor: pointer;
    display: block;
    margin-top: 15px;
    border: none;
    border-color: #53ad78;
}
button h3 {
    font-size: 16px;
    margin: 0;
    color: white;
}

.textarea {
    width: 400px;
    height: 200px;
    display: block;
    resize: none;
    margin-bottom: 15px;
}