<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- bootstrap4 CSS CDN 부분 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Like Lion</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls

<body>="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="{% url 'home' %}">Home</span></a>
                    <a class="nav-item nav-link" href="#">Blog</a>
                    <a class="nav-item nav-link" href="#">수료증</a>
                    <a class = "nav-item nav-link" href="{% url 'new' %}">글쓰기</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container jumbotron">
    
			<br>
				<div class="container">
					<form action="{% url 'create' %}" method = "POST">
                      {% csrf_token %}
					  <h4>제목: </h4>
					  <input type="text" name="title">
					  <br>
					  <br>
					  <h4>본문: </h4>
					  <textarea cols=40 rows=10 name="body"></textarea>
					  <br>
					  <br>
					  <input class="btn btn-dark" type="submit" value="제출하기">
				  </form>
				</div>
    </div>


    <!-- bootstrap4 js관련 CDN 부분 -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
<!-- 7/3 : 이미지 띄우기, 이미지 업로드하기. 템플릿 상속(html 재사용) 
    1. 이미지 띄우기
    static : 정적인 파일 .. (개발자가 프로젝트를 배포, 사전에 이미 저장돼있는 것을 불러오는것)
    폴더 사진 -> src="폴더명/파일명"
    media : 사용자가 직접 올려서 그걸 불러오는 역할. 개발자가 올려둬서 사용 X.

-->
</html>